
<div id="navbar" class="navbar navbar-default ace-save-state" style="display: block">
    <div class="quickLeftDiv">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <img src="../../assets/images/quickcheck1.png" style="width: 100%;">


                </a>

            </div>
        </div>
    </div>
    <div class="quickrightDiv">

        <div class="pull-right kotakDiv">
            <img src="../../assets/images/kotak-bank-logo.png" style="width: 75%; float: right;">
        </div>
        <div class="guideDiv guidetext">
            <h5 class="guidlicolor"><i class="fa fa-file-text" aria-hidden="true" title="New"></i> Guidelines</h5>
        </div>
        <div>
            <h5 class="logout" (click)="logout()"><i class="fa fa-power-off" aria-hidden="true"></i> Logout</h5>
            <!--<img src="../../assets/images/kotak-bank-logo.png" />-->
        </div>
        <div class="navbar-buttons navbar-header pull-right adminddl" role="navigation">
        </div>

    </div>

    <div id="guidelines" style="display: none;">
        <div class="col-md-12 col-sm-12 col-xs-12 no-padding">
            <h5 style="text-align: center; display: none; /* padding: 3%; */">
                Guidelines
            </h5>
            <ul style="margin-left: 15px;">
                <li>
                    For Physical Mandate Registration, upload file format should be JPEG, should not
                    be more than 3MB and resolution must be equal to or greater than 300dpi.
                </li>
                <li>Mandate form has to be filled by black gel pen only.</li>
            </ul>
        </div>

    </div>
</div>