#btnexcel, #btnreject {
    background: none !important;
    color: #212529 !important;
    font-size: 12px;
    font-weight: bold;
}
#tblUmrnhistory tbody {
    overflow: auto;
    display: block;
    max-height: 69vh;
}
.legals{
    font-size: 16px;
    font-family: "times new roman", times, serif;
    color: #003974 !important;
    /* font-style: italic; */
    text-align: justify;
    font-weight: bold;

}
#tblUmrnhistory tbody tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}
        
        
   #tblUmrnhistory thead tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}     
  


#btnp {
    position: absolute;
    top: 0px;
    left: 598px;
    width: 100%;
}

#tbldiv table {
    border: 1px solid #ddd;

}

#maincontent {
    position: absolute;
    top: 8%;
    left: 14%;
    width: 86%;
}

#btnspa {
    position: absolute;
    top: 0px;
    left: 648px;
    width: 100%;
}

.card-header {
    padding: 0px;
}

.boxhead {
    margin-top: 10px;
    border: 2px solid #e6edf3;
    border-radius: 4px;
    left: -12px !important;
    background-color: #f1f2f3;
}

.alldropdown {
    width: 100%;
    height: 22px;
    padding: 0px 0px 0px 0px;
}

#btngroup {
    position: relative;
    width: 100%;
    top: -21px;
    right: -322px;
}

#tbldownmandate {
    border: 1px solid #cdcdcd;
}

    #tbldownmandate tbody {
        overflow-y: scroll;
        overflow-x: hidden;
        display: inline-block;
        max-height: 50vh;
    }

        #tbldownmandate tbody tr {
            width: 100%;
            display: table;
            table-layout: fixed;
        }


    #tbldownmandate thead tr {
        width: 100%;
        display: table;
        table-layout: fixed;
    }
