<div class="main-content" id="maincontent">
    <div class="content">
        <div class="col-md-12 contnt-wrapper" id="">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-xs-6 ">
                    <span class="legal">Bulk E-Mandate</span>
                </div>
                <div class="col-md-8 col-sm-8">
                    <span id="btnp">

                        <i class="fa fa-file-text" aria-hidden="true"></i>
                        <input type="button" class="btn btn-success" id="btnreject"
                               value="New" />

                    </span>
                    <span id="btnspa">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <input type="button" class=" btn btn-success" id="btnexcel"
                               value="Download Excel" />
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" id="tbldiv" style="margin-top:1%;">
            <table id="tblUmrnhistory">
                <thead>
                    <tr>
                        <th style="width:150px;">SR.No.</th>
                        <th style="width:220px;">Activity Id</th>
                        <th style="width:220px;">Activity Name</th>
                        <th style="width:220px;">Uploaded On</th>
                        <th style="width:220px;">Created By</th>


                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td style="width:150px;">1</td>
                        <td style="width:220px;">Demo A-001</td>
                        <td style="width:220px;">Demo</td>
                        <td style="width:220px;">25-04-2020</td>
                        <td style="width:220px;">Tarun</td>


                    </tr>

                </tbody>

            </table>

        </div>


    </div>
</div>

