<div class="main-content" id="maincontent">
    <div class="content">
        <div class="col-md-12 contnt-wrapper" id="">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-xs-6 ">
                    <span class="legal">Bulk E-Mandate</span>
                </div>
                <div class="col-md-8 col-sm-8">
                    <span id="btnp">

                        <i class="fa fa-file-text" aria-hidden="true"></i>
                        <input type="button" class="btn btn-success" id="btnreject"
                               value="New" />

                    </span>
                    <span id="btnspa">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        <input type="button" class=" btn btn-success" id="btnexcel" (click)="downloadExcel()"
                               value="Download Excel" />
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" id="tbldiv" style="margin-top:1%;">
            <table id="tblUmrnhistory">
                <thead>
                    <tr>
                        <th style="width:150px;">SR.No.</th>
                        <th style="width:220px;">Activity Id</th>
                        <th style="width:220px;">Activity Name</th>
                        <th style="width:220px;">Uploaded On</th>
                        <th style="width:220px;">Created By</th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let td of tabledata">

                        <td style="width:150px;">{{td.Srno}}</td>
                        <td style="width:220px;">{{td.ActivityId}}</td>
                        <td style="width:220px;">{{td.ActivityName}}</td>
                        <td style="width:220px;">{{td.UploadedOn}}</td>
                        <td style="width:220px;">{{td.UserName}}</td>


                    </tr>

                </tbody>

            </table>


        </div>
        <div class="col-md-6 col-sm-6 col-xs-6" style="float: right">
            <div class="toolbar pull-right">
                <ul class="toolbar-content">

                    <li>
                        <div style="color: #1f497d; margin-top: 8%;font-weight: bold;">
                            Showing
                            <label>{{topVal}}</label>
                            of
                            <label>{{count}}</label>
                        </div>
                    </li>
                    <li id="">
                        <i class="" aria-hidden="true" title="Save"></i>
                        <input type="button" id="btnLoadMore" class="btn btn-success" (click)="pagenext()" style="border: 1px solid #fff;padding: 3px 5px 3px 5px;font-size: 12px;" value="Load More" />
                    </li>

                </ul>
            </div>
        </div>


    </div>
</div>

