<div class="main-content" id="maincontent">
  <div class="content">
     
          <div class="col-md-12 col-sm-6 col-xs-4">
              <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                  <span class="legal">Physical Mandate Demo</span>
              </div>

          </div>

          <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <video class="tab" style="width:86%" controls autoplay>
              <source src="../../assets/video/Demo.mp4" type="video/mp4"></source> 
            </video>
               </div>

          
         
  </div>
</div>

