<div id="navbar" class="navbar navbar-default ace-save-state" style="display: block">
    <div class="quickLeftDiv">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <div class="navbar-header pull-left">
                <a href="#" class="navbar-brand">
                    <img src="../../assets/images/quickcheck1.png" style="width: 100%;">


                </a>

            </div>
        </div>
    </div>
    <div class="quickrightDiv">
        <div>
            <img src="../../assets/images/kotak-bank-logo.png" />
        </div>
        <div class="navbar-buttons navbar-header pull-right adminddl" role="navigation">
        </div>

    </div>
</div>
<form [formGroup]="ForgotForm" autocomplete="off" class="form">
    <div class="quickCheckLogin" id="divquickcheck">
        <div class="quicklogin" style="text-align: center;">
            <img src="../../assets/images/quickcheck.png" />

        </div>
        <div class="clearfix">
        </div>
        <div id="login-box">
            <h1>
                CHANGE PASSWORD
            </h1>
            <div class="inset">

                <p [ngClass]="displayFieldCss('password')">
                
                    <label for="email">
                        Password
                    </label>
                    <input name="password" type="password" formControlName="password" class="form-control" (keypress)="Removelabel()" placeholder="Password" />
                    
                </p>
                <p [ngClass]="displayFieldCss('confirmPassword')">
                
                    <label for="password">
                        Confirm  Password
                    </label>
                    <input name="confirmPassword" type="password" formControlName="confirmPassword" class="form-control " (keypress)="Removelabel()" placeholder=" Confirm Password" />
                    


                </p>

                <input type="submit" value="Done" [disabled]="btndoneDisabled" (click)="onSubmit()" class="loginbtn" />
                <label id="lblName">{{errormsg}}</label>
            </div>



        </div>

    </div>
</form>
<div class="footer" style="display: block">
    <div class="footer-inner">
        <div class="footer-content">
            <span class="text-center" style="color: #000;">
                <span class="blue bolder" id="quickCheckFooter"
                      style="display: inline-block;">QuickCheck</span><span>Application &copy; 2018</span>
            </span>
        </div>
    </div>
</div>