.card-header {
    padding: 0px;
}

.boxhead {
    margin-top: 10px;
    border: 2px solid #e6edf3;
    border-radius: 4px;
    left: -12px !important;
    background-color: #f1f2f3;
}


#histmandtbl tbody {
    display: inherit;
    max-height: 60vh;
}

    #histmandtbl tbody tr {
        width: 100%;
        display: table;
        table-layout: fixed;
    }

.htmldateheight {
    height: 24px;
}

#histmandtbl thead tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}

#histmandtbl {
    overflow-x: scroll;
    display: inline-block;
}


        #histmandtbl tbody td {
            white-space: nowrap;
            overflow: hidden;
        }

        #histmandtbl{
            border:1px solid #cdcdcd;
        }

#maincontent {
    position: absolute;
    top: 8%;
    left: 14%;
    width: 86%;
}