<div id="dvLinks">
    <ul class="nav nav-list">
        <li class=""><a routerLink="/AccessRights" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">Access Rights</span></a></li>
        <li class=""><a routerLink="/dashboard" routerLinkActive="active"><i class="menu-icon fa fa-dashboard" aria-hidden="true"></i><span class="menu-text">Dashboard </span></a></li>
        <li class=""><a routerLink="/user" routerLinkActive="active"><i class="menu-icon fa fa-user" aria-hidden="true"></i><span class="menu-text">User</span></a></li>
        <li class=""><a routerLink="/EntityBankSetup" routerLinkActive="active"><i class="menu-icon fa fa-clipboard" aria-hidden="true"></i><span class="menu-text">Entity Bank Setup</span></a></li>
        <li class=""><a routerLink="/NachMandate" routerLinkActive="active"><i class="menu-icon fa fa-list-alt" aria-hidden="true"></i><span class="menu-text">Nach Mandate</span></a></li>
        <li class=""><a routerLink="/HistoricalMandate" routerLinkActive="active"><i class="menu-icon fa fa-calendar" aria-hidden="true"></i><span class="menu-text">Historical Mandate</span></a></li>
        <li class=""><a routerLink="/Downloadmandate" routerLinkActive="active"><i class="menu-icon fa fa-download" aria-hidden="true"></i><span class="menu-text">Download Mandate</span></a></li>
        <li class=""><a routerLink="/DownloadEmandate" routerLinkActive="active"><i class="menu-icon fa fa-download" aria-hidden="true"></i><span class="menu-text">Download E-Mandate</span></a></li>
        <li class=""><a routerLink="/Downloadoldmandate" routerLinkActive="active"><i class="menu-icon fa fa-download" aria-hidden="true"></i><span class="menu-text">Download Old Mandate</span></a></li>
        <li class=""><a routerLink="/Downloadoldemandate" routerLinkActive="active"><i class="menu-icon fa fa-download" aria-hidden="true"></i><span class="menu-text">Download Old E-Mandate</span></a></li>
        <li class=""><a routerLink="/Umrnhistory" routerLinkActive="active"><i class="menu-icon fa fa-history" aria-hidden="true"></i><span class="menu-text">UMRN History</span></a></li>
        <li class=""><a routerLink="/Umrnupload" routerLinkActive="active"><i class="menu-icon fa fa-upload" aria-hidden="true"></i><span class="menu-text">UMRN Upload</span></a></li>
        <li class=""><a routerLink="/Demophysical" routerLinkActive="active"><i class="menu-icon fa fa-video-camera" aria-hidden="true"></i><span class="menu-text">Demo(physical)</span></a></li>
        <li class=""><a routerLink="/Demoemandate" routerLinkActive="active"><i class="menu-icon fa fa-video-camera" aria-hidden="true"></i><span class="menu-text">Demo(E-mandate)</span></a></li>
        <li class=""><a routerLink="/Allumrn" routerLinkActive="active"><i class="menu-icon fa fa-hourglass-start" aria-hidden="true"></i><span class="menu-text">All UMRN</span></a></li>
        <li class=""><a routerLink="/Nachtransactionpresentation" routerLinkActive="active"><i class="menu-icon fa fa-exchange" aria-hidden="true"></i><span class="menu-text">Nach Transaction Presentation</span></a></li>
        <li class=""><a routerLink="/LinkSetup" routerLinkActive="active"><i class="menu-icon fa fa-link" aria-hidden="true"></i><span class="menu-text">Link Setup</span></a></li>
        <li class=""><a routerLink="/BulkEmandate" routerLinkActive="active"><i class="menu-icon fa fa-book" aria-hidden="true"></i><span class="menu-text">Bulk Emandate</span></a></li>
        <li class=""><a routerLink="/BulkUpload" routerLinkActive="active"><i class="menu-icon fa fa-book" aria-hidden="true"></i><span class="menu-text">Bulk Upload</span></a></li>
        <li class=""><a routerLink="/ReportView" routerLinkActive="active"><i class="menu-icon fa fa-book" aria-hidden="true"></i><span class="menu-text">Report View</span></a></li>
        <li class=""><a routerLink="/EntitySetup" routerLinkActive="active"><i class="menu-icon fa fa-book" aria-hidden="true"></i><span class="menu-text">Entity Setup</span></a></li>
        <li class=""><a routerLink="/eCreateMandate" routerLinkActive="active"><i class="menu-icon fa fa-book" aria-hidden="true"></i><span class="menu-text">Ecreate Mandate</span></a></li>

    </ul>
</div>

