.card-header {
    padding: 0px;
    
}
.tbluserlist{
    border:1px solid #cdcdcd;
}

.userlistpop, .modal-header {
    
    background-color: #f1f2f3;
}

.tbluserlist tbody {
    display: inline-block;
    max-height: 68vh;
    overflow-y:scroll;
    overflow-x:hidden;
}

    .tbluserlist tbody td {
        white-space: nowrap;
    }

    .tbluserlist tbody tr {
        width: 100%;
        display: table;
        table-layout: fixed;
    }


.tbluserlist thead tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}




.tbluserlist {
    
    display: inline-block;
}

.boxhead {
    margin-top: 10px;
    border: 2px solid #e6edf3;
    border-radius: 4px;
    left: -12px !important;
    background-color: #f1f2f3;
}
#maincontent {
    position: absolute;
    top: 8%;
    left: 14%;
    width: 86%;
}

.rightmenu {
    float: right;
    position: absolute;
    top: 0px;
    right: 21px;
}

.card-header {
    background-color: #888888 !important;
}

.displayinlineblock {
    display:inline-block;
}
