<div class="main-content" id="maincontent">
    <div class="content">

        <div class="col-md-12 col-sm-6 col-xs-4">


            <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                <span class="legal">Access Right Setup</span>
            </div>

            <div class="rightmenu">
                <form FormGroup="">
                    <div class="toolbar pull-right">
                        <ul class="toolbar-content">


                            <li id="btnNew">
                               
                                <i (click)="InsertData(user.value)"class="fa fa-floppy-o" aria-hidden="true" title="Export"></i>
                                <label>
                                    Save
                                </label>
                            </li>



                         


                        </ul>
                    </div>
                  
                </form>
            </div>





          

        </div>

        <div id="divform" class=" col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="">
                    <div class="srol">
                        <div id="accordion1" class="accordion-style1 panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title" style="margin-bottom: 0px!important;">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" data-target="#branch">
                                            <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down"
                                               data-icon-show="ace-icon fa fa-angle-right"></i>&nbsp;Access Rights Setup
                                        </a>
                                    </h4>
                                </div>
                                <div class="" id="branch">
                                    <div class="panel-body">
                                        <div class=" col-sm-12 col-xs-12 col-md-12">
                                            <div class="col-md-4 col-sm-3 col-xs-12 no-padding">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label ID="lblName" class="col-sm-4 col-md-4 col-xs-4 control-label "
                                                               for="form-field-1-1">
                                                            Entity

                                                        </label>
                                                        <div class="col-sm-8 col-md-8 col-xs-7 ">
                                                            <select id="ddlUserType" (change)="getLinksForUser(user.value)" #user class="col-sm-12 col-md-12 col-xs-12 no-padding alldropdown">
                                                                <option value="0">Select</option>
                                                                <option *ngFor="let lang of entitydDetails"
                                                                        value={{lang.userid}}>
                                                                    {{lang.username}}
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12 no-padding " [style.display]="showdvCheckbox ? 'block' : 'none'">
                                            <div class="col-md-12 col-sm-12 col-xs-12 form-group no-padding " id="dvTable">
                                                <div class="col-md-12 col-sm-12  boxaccordian">
                                                    <div class="col-md-12 col-sm-12 AccessList">
                                                        <div class="row" style="margin-top:1%;" >
                                                            <div class="col-md-4 col-sm-4 col-xs-3" *ngFor="let data of AccessRightDetails" >
                                                                <div class="col-md-12 col-sm-12 col-xs-12 accessborderbottom" >
                                                                    <i class="fa fa-user "></i>
                                                                    <label class="col-md-8">
                                                                        {{data.LinkName}}
                                                                    </label>
                                                                    <input type="checkbox" class="col-md-2 chkboxlist pull-right" (click)="checkAccessRights(data)" [checked]="data.IsRead" value={{data.LinkID}} id={{data.LinkID}} />
                                                                </div>
                                                            </div>
                                                           
                                                        </div>
                                                       </div>                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
   


<div class="modal" id="myModal" [style.display]="showModalSuccess ? 'block' : 'none'">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">
                    <img src="../../assets/images/saveSuccessImg.png" />
                </h4>
                <button type="button" class="close" data-dismiss="modal" (click)="hideSuccess()">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>Saved Successfully</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="hideSuccess()">Close</button>
            </div>

        </div>
    </div>
</div>

</div>