<div class="main-content" id="maincontent">
    <div class="content">

        <div class="col-md-12 col-sm-6 col-xs-12 contnt-wrapper" id="">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-xs-7 ">
                    <span class="legal">Access Rights Setup</span>
                </div>
                <div class="col-md-6 no-padding">
                    <span id="btnspa">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        <input type="button" class=" btn btn-success" id="btnexcel"
                               value="Save" />
                    </span>









                </div>

            </div>
        </div>
        <div id="divform" class=" col-md-12 col-sm-12 col-xs-12 no-padding">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="">
                    <div class="srol">
                        <div id="accordion1" class="accordion-style1 panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title" style="margin-bottom: 0px!important;">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" data-target="#branch">
                                            <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down"
                                               data-icon-show="ace-icon fa fa-angle-right"></i>&nbsp;Access Rights Setup
                                        </a>
                                    </h4>
                                </div>
                                <div class="" id="branch">
                                    <div class="panel-body">
                                        <div class=" col-sm-12 col-xs-12 col-md-12">
                                            <div class="col-md-4 col-sm-3 col-xs-12 no-padding">
                                                <div class="form-group">
                                                    <div class="row">
                                                        <label ID="lblName" class="col-sm-4 col-md-4 col-xs-4 control-label "
                                                               for="form-field-1-1">
                                                            Entity

                                                        </label>
                                                        <div class="col-sm-8 col-md-8 col-xs-7 ">
                                                            <select id="ddlUserType" class="col-sm-12 col-md-12 col-xs-12 no-padding alldropdown">
                                                                <option>1</option>
                                                                <option>2</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12 no-padding ">
                                            <div class="col-md-12 col-sm-12 col-xs-12 form-group no-padding " id="dvTable">
                                                <div class="col-md-12 col-sm-12  boxaccordian">
                                                    <div class="col-md-12 col-sm-12 AccessList">
                                                        <div class="row" style="margin-top:1%;">
                                                            <div class="col-md-4 col-sm-4 col-xs-3">
                                                                <div class="col-md-12 col-sm-12 col-xs-12 accessborderbottom">
                                                                    <i class="fa fa-user "></i>
                                                                    <label class="col-md-8">
                                                                        Access Rights
                                                                    </label>
                                                                    <input type="checkbox" class="col-md-2 chkboxlist pull-right" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-sm-4 col-xs-3">
                                                                <div class="col-md-12 col-sm-12 col-xs-12 accessborderbottom">
                                                                    <i class="fa fa-user "></i>
                                                                    <label class="col-md-8">
                                                                        Bulk E-Mandate
                                                                    </label>
                                                                    <input type="checkbox" class="col-md-2 chkboxlist pull-right" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-sm-4 col-xs-3">
                                                                <div class="col-md-12 col-sm-12 col-xs-12 accessborderbottom">
                                                                    <i class="fa fa-user "></i>
                                                                    <label class="col-md-8">
                                                                        Bulk Physical
                                                                    </label>
                                                                    <input type="checkbox" class="col-md-2 chkboxlist pull-right" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:1%;">
                                                            <div class="col-md-4 col-sm-4 col-xs-3">
                                                                <div class="col-md-12 col-sm-12 col-xs-12 accessborderbottom">
                                                                    <i class="fa fa-user "></i>
                                                                    <label class="col-md-8">
                                                                        Bulk Upload
                                                                    </label>
                                                                    <input type="checkbox" class="col-md-2 chkboxlist pull-right" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-sm-4 col-xs-3">
                                                                <div class="col-md-12 col-sm-12 col-xs-12 accessborderbottom">
                                                                    <i class="fa fa-user"></i>
                                                                    <label class="col-md-8">
                                                                        Dashboard
                                                                    </label>
                                                                    <input type="checkbox" class="col-md-2 chkboxlist pull-right" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-sm-4 col-xs-3">
                                                                <div class="col-md-12 col-sm-12 col-xs-12 accessborderbottom">
                                                                    <i class="fa fa-user"></i>
                                                                    <label class="col-md-8">
                                                                        Demo(E-Mandate)
                                                                    </label>
                                                                    <input type="checkbox" class="col-md-2 chkboxlist pull-right" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="margin-top:1%;">
                                                            <div class="col-md-4 col-sm-4 col-xs-3">
                                                                <div class="col-md-12 col-sm-12 col-xs-12 accessborderbottom">
                                                                    <i class="fa fa-user"></i>
                                                                    <label class="col-md-8">
                                                                        Demo(Physical)
                                                                    </label>
                                                                    <input type="checkbox" class="col-md-2 chkboxlist pull-right" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-sm-4 col-xs-3">
                                                                <div class="col-md-12 col-sm-12 col-xs-12 accessborderbottom">
                                                                    <i class="fa fa-user"></i>
                                                                    <label class="col-md-8">
                                                                        Report
                                                                    </label>
                                                                    <input type="checkbox" class="col-md-2 chkboxlist pull-right" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>
