form {
    display: block;
    overflow: visible !important;
    padding: 0 !important;
    height: 0% !important;
}
/* #tblreport tbody{ overflow-y: auto;
    display: block;
    max-height: 46vh;
} */
#tblreport tbody {
    overflow: auto;
    display: block;
    max-height: 58vh;
}
.legals{
    font-size: 16px;
    font-family: "times new roman", times, serif;
    color: #003974 !important;
    /* font-style: italic; */
    text-align: justify;
    font-weight: bold;

}

#tblreport tbody tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}
        
        
#tblreport thead tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}  
#tblreport table{
    overflow-x: scroll;
}   
  



#maincontent {
    position: absolute;
    top: 8%;
    left: 14%;
    width: 86%;
}

.rightmenu {
    float: right;
    position: absolute;
    top: 0px;
    right: 21px;
}

.alldropdown {
    width: 100%;
    height: 22px;
    padding: 0px 0px 0px 0px;
    margin-top: 6px;
}
