<div class="main-content" id="maincontent">
    <div class="content">
        <div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
            <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                <span class="legals">Report</span>
            </div>
            <div class="rightmenu">
                <div class="toolbar pull-right">
                    <ul class="toolbar-content" style="display:none;">

                        <li>
                            <i class="fa fa-file-text" aria-hidden="true" title="New"></i>
                            <label>
                                New
                            </label>
                        </li>
                        <li>
                            <i class="fa fa-pencil-square-o" aria-hidden="true" title="Edit"></i>
                            <label>
                                Edit
                            </label>
                        </li>
                        <li>
                            <i class="fa fa-floppy-o" aria-hidden="true" title="Save"></i>
                            <label>
                                Save
                            </label>
                        </li>

                        <li style="display: none">
                            <i class="fa fa-times" aria-hidden="true"
                               title="Delete"></i>
                            <label>
                                Delete
                            </label>
                        </li>
                        <li>
                            <i class="fa fa-reply" aria-hidden="true" title="Back"></i>
                            <label>
                                Back
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-md-12 col-sm-12 col-xs-12" id="divForm" style="display:block;margin-top: 3%;">
            <form [formGroup]="UMRNUploadform" autocomplete="off">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12" style="margin-top: -6px;">
                        <div class="form-group">
                            <label class="col-sm-6 col-md-4 col-xs-4 control-label no-padding" for="form-field-1"> User </label>
                            <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                <p [ngClass]="displayFieldCss('alldropdown')">
                                <select class="alldropdown" formControlName="alldropdown" id="alldropdown"  #alldropdown>
                                    <option value="" selected >Select</option>
                                    <option *ngFor="let lang of binduser"
                                            value="{{lang.UserId}}" text="{{lang.UserName}}"></option>


                                    <!--<option value="volvo">User 1</option>
                                    <option value="saab">User 2</option>-->
                                </select>
                            </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label class="col-sm-3 col-md-3 col-xs-3 control-label no-padding" for="form-field-1">
                                From Date
                            </label>
                            <div class="col-sm-8 col-md-8 col-xs-8 no-padding displayinlineblock">
                                
                                <input type="date"  id="Fromdate"  name="Fromdate" formControlName="alldropdown" value="{{currentDate | date:'yyyy-MM-dd'}}" class="col-sm-12 col-md-12 col-xs-12 no-padding" #Fromdate>

                               
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-3 col-xs-12 no-padding-right">
                        <div class="form-group">
                            <label class="col-sm-3 col-md-3 col-xs-3 control-label no-padding" for="form-field-1">
                                To Date
                            </label>
                            <div class="col-sm-8 col-md-8 col-xs-8 no-padding displayinlineblock">
                               
                                <input type="date" id="Todate" name="Todate" formControlName="alldropdown" value="{{currentDate | date:'yyyy-MM-dd'}}"  class="col-sm-12 col-md-12 col-xs-12 no-padding" #Todate>
                                
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">

                    </div>
                    <div class="col-md-4 col-sm-3 col-xs-12">

                    </div>
                    <div class="col-md-4 col-sm-3 col-xs-12">
                        <input class=" pull-right AddbtnCSS col-md-2 btn btn-success marginbtnadd" type="button" (click)="PostData(alldropdown.value,Fromdate.value,Todate.value)" value="Search" style="margin-right: 4%;">
                    </div>

                </div>

            </form>

        </div>
        
        <div class="col-md-12 col-sm-12 col-xs-12">
            <button type="button" class="btn btn-success" style="margin-bottom:3px;"(click)="download()" >Download Excel</button>
        <div class="col-md-12 col-sm-12 col-xs-12 no-padding" id="tbldiv" style="overflow-x:scroll; border:1px solid #cdcdcd;">
        
            <table id="tblreport">
                <thead>
                    <tr>
                        
                        <th style="width:150px;">SrNo</th>
                        <th style="width:220px;">Refrence</th>
                        <th style="width:220px;">Created On</th>
                        <th style="width:220px;">Updated On</th>
                        <th style="width:220px;">Created By</th>
                        <th style="width:220px;">Updated By</th>
                        <th style="width:220px;">File Updated Count</th>
                        <th style="width:220px;">Bank Validationn</th>
                        <th style="width:220px;">Acc Validation</th>
                        <th style="width:220px;">Saved Count</th>
                        <th style="width:220px;">Edit Count</th>
                        <th style="width:220px;">Entity Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let lang of bindgrid ">

                        <td style="width:150px;">{{lang.SrNo}} </td>
                        <td style="width:220px;">{{lang.Refrence1}}</td>
                        <td style="width:220px;">{{lang.CreatedOn}}</td>
                        <td style="width:220px;">{{lang.UpdatedOn}}</td>
                        <td style="width:220px;">{{lang.createdBy}}</td>
                        <td style="width:220px;">{{lang.UpdatedBy}}</td>
                        <td style="width:220px;">{{lang.FileUpdatedCount}}</td>
                        <td style="width:220px;">{{lang.BankValidation}}</td>
                        <td style="width:220px;">{{lang.AcValidation}}</td>
                        <td style="width:220px;">{{lang.SavedCount}}</td>
                        <td style="width:220px;">{{lang.EditCount}}</td>
                        <td style="width:220px;">{{lang.entityName}}</td>
                    </tr>
                    <tr *ngIf="bindgrid?.length == 0">
                        <td colspan="3">No data!</td>
                    </tr>

                </tbody>

            </table>
        </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 loaderposition" id="divLoarder" *ngIf="Preloader">
            <img src="../../assets/images/loader.gif" style="margin-left: 45%;margin-top: 19%;" />
        </div>
    </div>
</div>
