#btnexcel {
    background: none !important;
    color: #212529 !important;
    font-size: 12px;
    font-weight: bold;

}

#tblEmandate{
    border:1px solid #cdcdcd;
}
#btnspa {
    position: absolute;
    top: -66px;
    left: 308px;
    width: 100%;
}
.card-header {
    padding: 0px;
}

.boxhead {
    margin-top: 10px;
    border: 2px solid #e6edf3;
    border-radius: 4px;
    left: -12px !important;
    background-color: #f1f2f3;
}

.alldropdown {
    width: 100%;
    height: 22px;
    padding: 0px 0px 0px 0px;
}
#tblEmandate table{border: 1px solid #cdcdcd;}

#tblEmandate tbody {
    display: block;
    max-height: 60vh;
}

    #tblEmandate tbody td {
        white-space: nowrap;
    }

    #tblEmandate tbody tr {
        width: 100%;
        display: table;
        table-layout: fixed;
    }


#tblEmandate thead tr {
    width: 100%;
    display: table;
    table-layout: fixed;
}




#tblEmandate {
    overflow-x: scroll;
    display: inline-block;
}




#maincontent {
    position: absolute;
    top: 8%;
    left: 14%;
    width: 86%;
}

.rightmenu {
    float: right;
    position: absolute;
    top: 0px;
    right: 21px;
}

.card-header {
    background-color: #888888 !important;
}

.displayinlineblock {
    display: inline-block;
}


/*ace*/


#dvLinks {
    background: #fff !important;
    max-height: 580px;
    overflow: auto;
}




.exportBtn {
    cursor: pointer;
    border: 1px solid #cac4c4;
    background: #908c8c;
    padding: 3px 10px !important;
    width: 108px;
    margin-left: 15px;
    position: absolute;
    border-radius: 4px;
    /* left: 0; */
    margin-bottom: 1px !important;
    /* bottom: 0; */
    color: #fff;
    font-size: 11px;
}

   