<div class="main-content" id="maincontent">
    <div class="content">

        <div class="col-md-12 col-sm-6 col-xs-4">


            <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
                <span class="legal">Transaction Presentment Files </span>
            </div>

            <div class="rightmenu">
                <form FormGroup="">
                    <div class="toolbar pull-right">
                        <ul class="toolbar-content">


                            <li id="btnNew">

                                <i (click)="BankBind()" class="fa fa-reply" aria-hidden="true" title="Export"></i>
                                <label>
                                    New
                                </label>
                            </li>




                        </ul>
                    </div>

                </form>
            </div>







        </div>

        <!--<div class="col-md-12 col-sm-6 col-xs-4 contnt-wrapper">
        <div class="col-sm-6 col-md-6 col-xs-3 no-padding">
            <span class="legal">Transaction Presentment Files</span>
        </div>
        <div class="rightmenu">
            <div class="toolbar pull-right">
                <input type="button" class=" btn btn-success" id="btnexcel"
                       value="New" (click)="BankBind()" />
                <ul class="toolbar-content" style="display:block;">



                    <li id="btnNew">

                        <i (click)="BankBind()" class="fa fa-reply" aria-hidden="true" title="Export"></i>
                        <label>
                            new
                        </label>
                    </li>
                    <li>
                        <i class="fa fa-pencil-square-o" aria-hidden="true" title="Edit"></i>
                        <label>
                            Edit
                        </label>
                    </li>
                    <li>
                        <i class="fa fa-floppy-o" aria-hidden="true" title="Save"></i>
                        <label>
                            Save
                        </label>
                    </li>
                    <li style="display: none">
                        <i class="fa fa-key" aria-hidden="true" title="Reset Password"></i>
                        <label>
                            Reset Password
                        </label>
                    </li>
                    <li style="display: none">
                        <i class="fa fa-times" aria-hidden="true"
                           title="Delete"></i>
                        <label>
                            Delete
                        </label>
                    </li>
                    <li>
                        <i class="fa fa-reply" aria-hidden="true" title="Back"></i>
                        <label>
                            Back
                        </label>
                    </li>
                    <li>
                        <i class="fa fa-bars" aria-hidden="true" title="Export"></i>
                        <label>
                            Previous Records
                        </label>
                    </li>
                </ul>
            </div>
        </div>
    </div>-->
        <!--<input type="button" class="col-md-2 col-sm-12 col-xs-12 btn btn-success" id=""
           value="New" style="margin-right: 12%; margin-top: 2%; margin-bottom: 2%;float:right;" (click)="BankBind()" />-->
        <div class="col-md-12 col-sm-12 col-xs-12" id="tbldiv" [style.display]="showlabel2 ? 'block' : 'none'">
            <table id="tblnachmandate">
                <thead>
                    <tr>
                        <th style="width:90px;">Sr No</th>
                        <th style="width:150px;">Presentment Date</th>
                        <th style="width:150px;">Presentment No</th>
                        <th style="width:150px;">Created On</th>
                        <th style="width:150px;"> Created By</th>
                        <th style="width:150px;">Updated By</th>
                        <th style="width:150px;">Updated On</th>
                        <th style="width:150px;">Approved By</th>
                        <th style="width:150px;">Approved On</th>
                        <th style="width:150px;">Bank Name</th>
                        <th style="width:150px;">Last Status On</th>
                        <th style="width:150px;">File Status</th>



                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let lang of bindmaingrid" (dblclick)="BindOnRowdblClick(lang);">
                        <td style="width:90px;">{{lang.RowNumber}}</td>
                        <td style="width:150px;">{{lang.date}}</td>
                        <td style="width:150px;">{{lang.FileNo}}</td>
                        <td style="width:150px;">{{lang.CreatedOn}}</td>
                        <td style="width:150px;">{{lang.UserName}}</td>
                        <td style="width:150px;">{{lang.UpdatedBy}}</td>
                        <td style="width:150px;">{{lang.UpdatedOn}}</td>
                        <td style="width:150px;">{{lang.ApprovedBy}}</td>
                        <td style="width:150px;">{{lang.ApprovedOn}}</td>
                        <td style="width:150px;">{{lang.BankName}}</td>
                        <td style="width:150px;">{{lang.LastStatus}}</td>
                        <td style="width:150px;">{{lang.FileStatus}}</td>


                    </tr>

                </tbody>

            </table>

        </div>
        <form [formGroup]="Allumrn">
            <div class="col-md-12 col-sm-12 col-xs-12 boxsetting" [style.display]="showlabel1 ? 'block' : 'none'">
                <div class="col-md-12 col-sm-12 col-xs-12 boxhead">
                    <div class="row no-padding">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                    Bank:
                                </label>
                                <div class="col-sm-6 col-md-7 col-xs-7 displayinlineblock">
                                    <select id="" class="alldropdown" #BankId (change)="BindGridForm(BankId.value)" name="BankValue" formControlName="BankValue">
                                        <option value="0">Select</option>
                                        <option *ngFor="let lang of bankbind"
                                                value={{lang.SponsorBankCodeId}}>
                                            {{lang.SponsorBankCodeName}}

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="col-sm-5 col-md-4 col-xs-4 control-label no-padding" for="form-field-1"> Presentment Date: </label>
                                <div class="col-sm-7 col-md-7 col-xs-7 displayinlineblock"  [ngClass]="displayFieldCss('Searchvalidation')">
                                    <input class="col-sm-12 col-md-12 col-xs-12" style="height: 22px;" type="date" name="Searchvalidation"  formControlName="Searchvalidation" #PresentmentDate>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12  no-padding ">

                        </div>
                    </div>
                    <div class="row no-padding">
                        <!--*ngFor="let lang of bindgrid"-->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                    Bank Account Number:
                                </label>
                                <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                    <label class="col-sm-12 col-md-12 col-xs-12">{{AccountNumber}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                    Sponsor Bank code:
                                </label>
                                <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                    <label class="col-sm-12 col-md-12 col-xs-12">{{SponsorBankcode}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                    Utility Code:
                                </label>
                                <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                    <label class="col-sm-12 col-md-12 col-xs-12">{{UtilityCode}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row no-padding"  >  
                        <!-- [style.display]="showlabel3 ? 'block' : 'none'" -->
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                    Created By:
                                </label>
                                <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                    <label class="col-sm-12 col-md-12 col-xs-12">{{UserName}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                    IFSC:
                                </label>
                                <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                    <label class="col-sm-12 col-md-12 col-xs-12">{{IFSC}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">

                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="clearfix">

        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" id="divform" style="margin-top: 10%;" [style.display]="showlabel ? 'block' : 'none'">
            <form [formGroup]="UMRNRefSet" autocomplete="off">
                <div class="col-md-12 col-sm-12 no-padding">
                    <div class="row no-padding" style="height: 23px;" >
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label class="col-sm-6 col-md-4 col-xs-4 control-label no-padding" for="form-field-1">
                                    Uploaded Records:
                                </label>
                                <div class="col-sm-6 col-md-7 col-xs-7 no-padding-left displayinlineblock">
                                    <label class="col-sm-12 col-md-12 col-xs-12">1</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">

                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <ul class="toolbar-content" style="float: right;">
                                <li>
                                    <i (click)="BindUMRN(PresentmentDate.value); BindRefrence(PresentmentDate.value)" class="fa fa-reply" aria-hidden="true" title="Export"></i>
                                    <label>
                                        New
                                    </label>
                                </li>
                                <li>
                                    <i class="fa fa-pencil-square-o" aria-hidden="true" title="Edit"></i>
                                    <label>
                                        Edit
                                    </label>
                                </li>
                                <li>
                                    <i class="fa fa-floppy-o" aria-hidden="true" title="Cancel"></i>
                                    <label>
                                        Cancel
                                    </label>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <table id="tblsecondgrd">
                    <thead>
                        <tr>
                            <th style="width:90px;"><input name="all" type="checkbox">All</th>
                            <th style="width:150px;">UMRN</th>
                            <th style="width:150px;">Reference No</th>
                            <th style="width:150px;">Amount</th>
                            <th style="width:150px;"> Status</th>
                            <th style="width:150px;">Reason</th>
                            <th style="width:150px;">Client Code</th>
                            <th style="width:150px;">Corporate Ac/No</th>




                        </tr>
                    </thead>
                    <tbody>
                        <tr  >
                            <td style="width:90px;"><input name="all" type="checkbox"></td>
                            <td style="width:150px;">
                                <select  class="col-md-12 col-sm-12 col-xs-12" formControlName="UMRNNo"  (change)="BindRefOnchange()">
                                    <!--// #UMRN-->
                                    <option value="0">Select</option>
                                    <option *ngFor="let lang of bindumrn"  value="{{lang.UMRN}}">
                                        {{lang.UMRN}}

                                </select>
                            </td>
                            <td style="width:150px;">
                                <select  class="col-md-12 col-sm-12 col-xs-12" formControlName="RefrenceNo" (change)="BindUMRNOnchange()">
                                    <!--#Refrence1-->
                                    <option value="0">Select</option>
                                    <option *ngFor="let lang of bindref" value="{{lang.Refrence1}}">
                                        {{lang.Refrence1}}
                                </select>
                            </td>
                            <td style="width:150px;"><input type="text"  style="width:100%" ></td>
                            <td style="width:150px;"></td>
                            <td style="width:150px;"></td>
                            <td style="width:150px;"></td>
                            <td style="width:150px;"></td>



                        </tr>

                    </tbody>

                </table>
</form>
        </div>


    </div>

</div>




