.card-header {
    padding: 0px;
}

.hasDatepicker{height: 25px;} 
.form-group input[type=text] {
    height: 25px !important;
}

label {
 margin-bottom: 0px !important;
}
.catogeriebox {
    position: absolute;
    top: 0px;
    left: 34%;
}

.checkbox, .radio {
    margin-bottom: 0px !important;
}
.labeldiv {
    height: 25px;
    background: #d4d4d4;
    border-right: 1px solid #8c8787;
}

.border {
    border: 1px solid #989797 !important;
}

#btnSave {
    float: right;
}

#btnBack {
    float: right;
}

.form-group {
    margin-bottom: 0% !important;
    display: block;
    overflow: hidden;
    margin-top: 0% !important;
    clear: both;
}

.boxhead {
    margin-top: 10px;
    border: 2px solid #e6edf3;
    border-radius: 4px;
    left: -12px !important;
    background-color: #f1f2f3;
}

#maincontent {
    position: absolute;
    top: 8%;
    left: 14%;
    width: 86%;
}

.rightmenu {
    float: right;
    position: absolute;
    top: 0px;
    right: 21px;
}

.card-header {
    background-color: #888888 !important;
}

.displayinlineblock {
    display: inline-block;
}



.toolbar-content a {
    color: inherit !important
}

#lblDispMessagezipnach {
    position: absolute;
    bottom: 20%;
    font-size: 11.5px;
}

