.card-header {
    padding: 0px;
}

.logo-img {
    border: 1px solid #cdcdcd;
}

.radio input[type=radio] {
    position: absolute;
    margin-left: -15px;
    margin-top: 0px !important;
}

form {
    display: block;
    overflow: visible !important;
    padding: 0 !important;
    height: 0% !important;
}

#tblsecondgrd {
    border:1px solid #cdcdcd;
}
#maincontent {
    position: absolute;
    top: 8%;
    left: 14%;
    width: 86%;
}

.panel-default {
    border: 1px solid #CDD8E3 !important;
}
.loaderposition {
    position: absolute;
    left: 0% !important;
    z-index: 9999 !important;
    top: 0% !important;
}